body {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 11pt;
    height: 100%;
    margin-top: 0;
}

#container {
    min-height:70vh; 
    border:1pt solid #cccccc;
}


.container {
    display: flex;
    flex: 1;
    align-items: flex-start;
    width: 100vw;
    min-height: 100vh;
}

.container__left {
    padding: 10px;
    min-height: 100vh;
    width: 65%
}

.resizer {
    background-color: #cbd5e0;
    cursor: ew-resize;
    height: 100vh;
    width: 2px;
}

.container__right {
    padding: 10px;
    height: 100vh;
    width: 35%
}

.result {
    word-wrap: break-word;
}

hr {
    border: 0;
    height: 1px;
    background: #e5e5e5;
    margin-block-start: 4px;
    margin-block-end: 4px;
    background-image: linear-gradient(to right, #e5e5e5, #ccc, #e5e5e5);
}

pre {
    white-space: pre-wrap;
}

label{
    font-size:9pt;
}

/* modern additions */
h4, .result_header{
    height: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
}

#actionResult{
    font-size: 8pt;
}

#resultbar{
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 8pt;
}

#resultbar a{
    text-decoration: none;
}
