body,
html {
	padding: 0;
	margin: 0;
	height: calc(100vh - 2em);
	font-size:12pt;
}

#header {
	width: 100%;
	padding: 5px;
	display: flex;
	flex-direction: row;
}

#container {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}


label {
	padding-right: 0.3em;
	min-width: 70px;
    display: inline-block;
}

h3{
	font-size: 12pt;
	margin-block: 3px;
}

#header>hr {
	margin: 1em 0;
}

#header #title {
	padding: 20px;
	width:50%;
}

#header #state {
	padding: 20px;
	width:50%;
}


#header #title span {
	padding: 4px 3px 8px 3px;

}

section.vs-dark {
	box-shadow: inset 0 -6px 5px -5px #000000;
	background-color: #000000;
	color: white;
}

section.vs-dark a {
	color: #86ED78;
	font-weight: normal;
}

section.vs-light {
	box-shadow: inset 0 -6px 5px -5px #dddddd;
}

img.favicon{
	width:16px;
	height: 16px;
	margin-right: 5px;
}

button {
	background-color: #4CAF50; /* Green */
	border: none;
	display:block !important;
	border-radius: 4px;;
	color: white;
	padding: 12px 20px;
	margin-bottom: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	cursor: pointer;
  }

  #response{
	  font-size: 10pt;
  }