body, html {
	padding: 0;
	margin: 0;
	height: calc(100vh - 2em);
}
#container {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

.actions {
	height: 2em;
	display: flex;
	align-items: center;
	border-top: 1px solid #aaa;
	padding: 0.2em;
	box-sizing: border-box;
}

label {
	padding-right: 0.3em;
}