body {
    background: white;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 10pt;
    width: 95%;
    margin: 10px;
    padding: 10px;
}
.code {
    font-family: Menlo, "Courier New", Courier, monospace;
}
.dataTables_scrollBody {
    max-height: 100% !important;
}

.wdth40{
    width:40px;
}

.tbl{
    width:100%; 
    table-layout: fixed;
    word-wrap:break-word;
}

.ft7{
    font-size: 7pt;
}


/* welcome.html */
#sn4{
    width:800px;
}

#sn4div{

    font-size:12pt;
}