body {
    background: white;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 10pt;
    width: 800px;
    height: 550px;
    overflow-x: hidden;
}

table {
    width: 100%;

}

input {
    accent-color: #5274FF;
}

a {
    text-decoration: none;
}

div.info{
    border:1pt solid #ff8234;
    width:50%;
    padding:10px;
}

#snuVersion{
    font-size: 12pt;
}

#highlight{
    font-size: 12pt;
}

a.iscurrent {
    cursor: default;
    text-decoration-line: none;
    color: red;
}
a.iscurrent:hover {
    text-decoration-line:underline;

} 

#content ul.nav {
    background-color: #032D42;
    border-bottom: #86ED78 5px solid;
    padding-top: 7px;
}

#content .nav-tabs .nav-item.show .nav-link,
#content .nav-tabs .nav-link.active {
    border-radius: 0;
    color: #fff !important;
    background-color: #000000;
    border-color: #86ED78;
    border-width: 5px 5px 8px;
    margin-top: -7px;
    margin-bottom: -4px;
    padding-top: 12px;
    height: 50px;
    border-bottom-style: none;
}

li.highlightli{
    padding-top: 7pt;
}

a.highlightlink {
    color: #fff !important;
    border: none;
    margin-top: 0px;
    font-size: 7pt;
    font-weight:800;
}

#content .nav-link {
    color: #e5e5e5 !important;
}

#content .nav-link:hover:not(.active) {
    color: #fff !important;
    border: none;
    text-decoration: underline !important;
    text-decoration-color: #fff !important;
}

div#content {
    width: 794px;
    padding: 2px;
    margin: 2px;
}

div.tab-content {
    padding: 6px;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 2px 2px;
}

.dataTables_filter {
    display: none;
}

.dataTables_info {
    font-size: 8pt;
}

.nav-tabs>li>a {
    font-size: 0.9em;
    padding: 8px 9px;
    margin-right: 0px;
    line-height: 20px;
}

.tab-pane {
    margin-top: 10px;
}

span.waiting {
    display: none;
}

.fa-spinner {
    color: #fff !important;
    z-index: 1000;
}


a {
    color: #009156;
}



.btn-primary {
    color: #000000;
    background-color: #86ED78;
    border-color: #86ED78;
}

.btn-primary:hover,
.btn-primary.hover {
    background-color: #009156;
    box-shadow: 0 6px 18px -9px #000000;
    transition: box-shadow 0.2s;
}

th {
    font-size: 10pt;
}

td {
    font-size: 9pt;
}

td i {
    font-size: 14pt;
}

@media screen and (max-width: 640px) {

    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter {
        float: left;
        text-align: left;
    }
}

a.not-active {
    pointer-events: none;
    cursor: default;
}

table.dataTable tbody td {
    vertical-align: top !important;
}

.dataTables_scrollBody {
    max-height: 250px !important;
}

#tblslashcommands_wrapper .dataTables_scrollBody {
    max-height:200px !important;
}

.btns {
    clear: both;
}

.btnspadding{
    padding: 8px 0 5px 0;
}

.dt-button {
    padding: 0.2em 0.5em !important;
    font-size: 8pt !important;
}

.form-control:focus {
    border-color: #6c757d;
    box-shadow: none;
}

.hide-in-browser {
    display: none;
}

/* Hacks for browser specific messages*/
@-moz-document url-prefix() {
    .hide-in-firefox {
        display: none;
    }

    .show-in-firefox {
        display: inline;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .hide-in-chrome {
        display: none;
    }

    .show-in-chrome {
        display: inline;
    }
}


img.halfwidth{
    width:30%;
}

img.ytthumbnail{
    width:250px; 
    border:solid 1pt #e3e3e3; 
    padding:5px;
    margin:5px;
}

.fonteight{
    font-size:8pt;
}

.mtfive{
    margin-top:5px;
}

.dxp{
    width:100%; 
    table-layout: fixed;
    word-wrap:break-word;
}

.grtemplate{
    font-family: Consolas, Lucida Console, monospace; 
    font-size:10pt; 
    height:290px !important; 
    margin-top:20px; 
    margin-right:4px;
}

.whitelist{
    font-family: Consolas, Lucida Console, monospace; 
    font-size:10pt; 
    height:290px !important; 
    margin-top:20px; 
    margin-right:4px;
}

#txtslash{
    font-family: Consolas, Lucida Console, monospace; 
    font-size:9pt; 
    min-height:50px !important; 
    width:99%;
    margin-right:4px;
}
.wdth{
    width:180px;
}

#tbls {
    table-layout: fixed;
    word-wrap:break-word;  
}

h5 i {
    font-weight: normal;
    font-size: 8pt;
}

.push5up{
    margin-top: -5px;
}

table.dataTable td {
    word-break: break-word;
}

table.dataTable thead th,
table.dataTable tfoot th {
  text-align: left;
  padding-left: 3px;
}


div.snucmdurl { 
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size:7pt;
}

i.fas, i.far{
    font-size:9pt;
    margin-right: 3px;
    text-align: center;
}


a.deletecmd {
    color: red;
}


#cmdform{
    border:1pt solid #e3e3e3;
    background-color: #fff;
    margin: 5pt 0;
}

#cmdform input {
    height: 18px;
    padding: 1px;
    font-size: 10pt;
    line-height: 1;
    border-radius: .2rem;
}

#cmdform button {
    margin-top:5px;
    padding: .1rem .2rem;
}

#cmdformhelp{
    border: #e3e3e3 1pt solid;
    background-color: #F8F8F8;
    font-size: 10pt;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    word-wrap: break-word;
}

.hidden{
    display: none;
}

.width30{
    width:30px;
    font: 9pt monospace;
    text-align: center;
    border: 1pt solid #e5e5e5;
    outline: none;
}

#divslashmsg {
    font-size: 8pt;
    color:red;
}

.refname{
    font-family:monospace;
    font-size:small;
}

label {
    margin-top: .5rem;
    margin-bottom: .1rem;
}

.form-check-label {
    margin-top: 3px;
}

.showfields{
    display: none;
}


#patreon:hover{
    text-decoration: none !important;
}


#patreon{
    position: fixed;
    right: 0px;
    width: 50px;
    top: 10px;
    font-size: 18pt;
}

#divhideempty{
    width: 150px; 
    text-align:right; 
    border:1px solid #ced4da;
    padding-right: 5px;
}

.wasabi {
    background-color: #62D74E;
    padding: 12px;
    font-size: 20px;
    border-radius: 4px;
}

textarea:read-only {
    background-color: #e1e1e1 !important;
  }

#tabslashcommands .row>* {
    padding-right: 4px;
    padding-left: 4px;
}

#aboutlinkedin{
    margin:30px 0 60px 0;
}

.aboutlinkedina{
   color: #000000;
   font-size: 24px;
   font-weight: 800;
}
